<!-- <div>
  <label for="theme">Theme:</label>
  <select id="theme" [(ngModel)]="theme" (ngModelChange)="onThemeChange()">
    <option *ngFor="let theme of availableThemes, index as i" [value]="theme" selected>{{theme | titlecase}}</option>
  </select>
  <div>
    <button (click)="reset()">Reset</button>
  </div>
</div>


<div>
  <label for="shuffle">Shuffle:</label>
  <select id="shuffle" [(ngModel)]="shuffle" (ngModelChange)="onShuffleChange()">
    <option *ngFor="let shuffle of Shuffle | enumToArray, index as i" [value]="shuffle.index">{{shuffle.name}}</option>
  </select>
</div>
 -->
 
<div style="display: flex; flex-wrap: wrap;">
  <div id="board">
    <ng-container *ngFor="let i of [0,1,2,3]">
      <div #tile *ngFor="let j of [0,1,2,3]" [ngClass]="{'tile': game.block(i, j) !== null}"
        (mousedown)="onclick(tile, i * 4 + j)" [ngStyle]="{'animation-name': animation(i, j)}">
        {{caption(i,j)}}
      </div>
    </ng-container>
    <div id="win" *ngIf="solved">You win</div>
</div>

  <div style="padding: 5vmin;">

    <div class="button" (click)="reset()">New game</div>
    <div class="button" (click)="solve()">Solve</div>
  </div>

</div>