<div>
  <label for="theme">Theme:</label>
  <select id="theme" [(ngModel)]="theme" (ngModelChange)="onThemeChange()">
    <option *ngFor="let theme of availableThemes, index as i" [value]="theme" selected>{{theme}}</option>
  </select>
</div>

<div>
<table>
  <tr *ngFor="let i of four">
    <td [ngStyle]="{'padding.px': padding}" *ngFor="let j of four">
      <img [src]="image(i * 4 + j)"
           (mousedown)="onclick(i * 4 + j)">
    </td>
  </tr>
</table>
</div>

<button (click)="reset()">reset</button>
